/* reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* base style */
body {
  font-family: Lobster, monospace;
}

.navbar {
  overflow: hidden;
  background-color: lightslategray;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar ul {
  list-style-type: none;
}

.navbar a {
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  color: #f2f2f2;
  text-align: center;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

@media screen and (max-width: 450px) {
	navbar {
		display: none;
	}
}

.welcome-section {
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;        
  color: black;
}

.projects {
  /*border: 5px solid red;*/
  align-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, auto); 
  gap: 20px; 
	border-radius: 5px;
	padding: 20px;
	margin: 50px;
}
 
@media screen and (max-width: 900px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .projects {
    grid-template-columns: 1fr;
  }
}

.projects a:hover {
  background: #ddd;
  color: black;
}

.project-tile {
/*  border: 5px solid blue;*/
  /*float: left;*/
  background-color: lightslategray;
	border-radius: 5px;
}

.project-tile a {
  color: #f2f2f2;
  text-decoration: none;
}

.profiles {
  display: flex;
  justify-content: center;
  align-items: center;        
}

.profiles a {
  text-decoration: none;
  padding: 14px 16px;
}
